.git
.github
node_modules
vendor
backend/node_modules
backend/vendor
frontend/node_modules
frontend/dist
docker/mysql
docker/postgres
docker/redis
storage/logs
supervisord.log
temp_*.log
*.zip
mc
migration_status.txt
.env
.env.example
